* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FFF;
}

body {
  color: #FFF;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 18px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(img/header-bg.jpg), lightgray 50%/cover no-repeat;
}

.page-position_center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  min-height: 1024px;
}
.top__section-content {
  padding-top: 217px;
}
.top__button {
  margin-top: 12px;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.section-content__title {
  font-size: 64px;
  font-weight: 700;
}
.section-content__subtitle {
  width: 480px;
  line-height: 32px;
}
.section-content__subtitle_font-weight_bold {
  font-weight: 700;
}
.section-content__button {
  border-radius: 30px;
  border: 0px;
  background: #9C0332;
  font-family: inherit;
  font-size: inherit;
  color: #FFF;
  width: 234px;
  height: 48px;
}
.section-content__button:hover {
  background: #792020;
  transition: all 0.3s;
}

.product-box {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 128px;
  margin-bottom: 128px;
}
.product-box__item {
  width: 378px;
  height: 300px;
  border-radius: 16px;
  font-weight: 600;
  padding: 0px 32px 32px 32px;
}
.product-box__item_bg-game1 {
  background-image: url(img/game1-bg.jpg);
  background-repeat: no-repeat;
}
.product-box__item_bg-game1:hover {
  transform: scale(1.05);
  transition: all 0.6s ease;
}
.product-box__item_bg-game2 {
  background-image: url(img/game2-bg.jpg);
  background-repeat: no-repeat;
}
.product-box__item_bg-game2:hover {
  transform: scale(1.05);
  transition: all 0.6s ease;
}
.product-box__item_bg-game3 {
  background-image: url(img/game3-bg.jpg);
  background-repeat: no-repeat;
}
.product-box__item_bg-game3:hover {
  transform: scale(1.05);
  transition: all 0.6s ease;
}
.product-box__link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 24px;
  line-height: 32px;
}

.seasons-box {
  display: flex;
  height: 800px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.seasons-box__content {
  width: 584px;
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.seasons-box__title {
  font-size: 48px;
  font-weight: 700;
}

.seasons-box__image {
  background: url(img/seasons.svg);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 485px;
  min-height: 333px;
}

@media (max-width: 1440px) {
  .page-position_center {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (max-width: 1316px) {
  .seasons-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .seasons-box__content {
    align-items: center;
  }
}
@media (max-width: 1028px) {
  .page-position_center {
    padding-left: 60px;
    padding-right: 60px;
  }
  .section-content {
    align-items: center;
    text-align: center;
  }
  .seasons-box__content {
    align-items: center;
  }
}
@media (max-width: 768px) {
  body {
    background-color: #000915;
  }
  .section-content {
    align-items: center;
    text-align: center;
  }
  .section-content__title {
    font-size: 32px;
  }
  .section-content__subtitle {
    width: 343px;
    font-size: 14px;
    line-height: 22px;
  }
  .section-content__button {
    margin: 0;
  }
  .page-position_center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    min-height: 735px;
  }
  .product-box__item {
    padding: 0px 16px 32px 16px;
    width: 343px;
  }
  .seasons-box {
    height: auto;
  }
  .seasons-box__content {
    width: auto;
    align-items: center;
    margin-bottom: 64px;
  }
  .seasons-box__title {
    font-size: 32px;
    text-align: center;
    font-weight: 700;
  }
  .seasons-box__subtitle {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    width: 343px;
  }
  .seasons-box__image {
    min-width: 344px;
    min-height: 236px;
    margin-bottom: 84px;
  }
}
@media (max-width: 376px) {
  body {
    background-image: none;
  }
  .top {
    min-height: 735px;
    background-image: url(img/bg-mobile.jpg);
  }
}/*# sourceMappingURL=style.css.map */